<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Bulldogs</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        {{#link-to 'sports' classNames='mdl-navigation__link'}}Sports{{/link-to}}
        {{#link-to 'messages' classNames='mdl-navigation__link'}}Messages{{/link-to}}
        {{#link-to 'groups' classNames='mdl-navigation__link'}}Groups{{/link-to}}
        {{#link-to 'gallery' classNames='mdl-navigation__link'}}Gallery{{/link-to}}
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Bulldogs</span>
    <nav class="mdl-navigation">
      {{#link-to 'sports' classNames='mdl-navigation__link'}}Sports{{/link-to}}
      {{#link-to 'messages' classNames='mdl-navigation__link'}}Messages{{/link-to}}
      {{#link-to 'groups' classNames='mdl-navigation__link'}}Groups{{/link-to}}
      {{#link-to 'gallery' classNames='mdl-navigation__link'}}Gallery{{/link-to}}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">{{outlet}}</div>
  </main>
</div>
